<%- include('includes/head.ejs') %>
</head>
<body>
  <%- include('includes/navigation.ejs') %>
  <main>
    <main>
      <h1>Page not found!</h1>
    </main>
  </main>
  <%- include('includes/end.ejs') %>
</body>
